


header{
    top: 0;
    width: 100%;
    background: #fff;
    padding-left: 30px ;
    display: flex;
    justify-content: space-between ;
    position: static;
    margin-bottom: 10px;
    border-bottom: 2px solid #dc2626;
}
a{
    text-decoration: none ;
}
.menu{
    padding: 25px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.menu ul li{
    list-style: none;
    margin: 0px 15px;
}

.btn_one{
    
    color: #dc2626;
}
.btn_one:hover{
    background: #dc2626;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #dc2626;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
header nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header nav h1{
    color: #dc2626;
}
